/* SECTION CHOIX PRESIDENT */
.vote-pres h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 20px;
    gap: 30px;
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-bottom: 100px;
}

.flex-item label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.flex-item img {
    width: 300px;
    height: 300px;
}

.error-message {
    color: red;
    background-color: #ffe6e6;
    border: 1px solid red;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.form-vote {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-vote h1 {
    text-align: center;
}

.form-vote button {
    margin: 50px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 15px 0;
    width: 10em;
    color: white;
    background-image: linear-gradient(to right, rgb(3, 124, 236), rgb(0, 20, 202));
}

.form-vote button:hover {
    cursor: pointer;
    background-image: linear-gradient(to left, rgb(3, 124, 236), rgb(0, 20, 202));
}

.section-voted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 10px;
}

.section-voted div {
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.section-voted1 {
    background: rgba(231, 231, 231, 0.903);
    padding: 30px;
    gap: 20px;
}

.section-voted2 {
    height: 50vh;
}

.section-voted2 img {
    width: 100vw;
    height: 250px;
}

.section-voted a {
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 15px 0;
    width: 10em;
    color: white;
    background-image: linear-gradient(to right, rgb(3, 124, 236), rgb(0, 20, 202));
}

.section-voted a:hover {
    background-image: linear-gradient(to left, rgb(3, 124, 236), rgb(0, 20, 202));
}

.section-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 50vw;
    margin: 30px auto;
    padding: 30px;
    background-image: linear-gradient(to right, rgb(3, 124, 236), rgb(0, 20, 202));
    color: white;
    border-radius: 10px;
    gap: 50px;
}

.section-results h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.section-results div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-results h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.section-results p {
    font-weight: 600;
}